.row {
	padding: 0;
	border: 0;
}

.grid{
	margin-top: center;
	margin-right: center;
	margin-bottom: center;
	margin-left: 275px;
	text-align: center;
	

}

.parent{
	margin: 0 auto;
	text-align: center;
}

.container {
	padding-bottom: 100px;
}

.btn-xlarge {
	padding: 18px 28px;
    font-size: 20px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
			border-radius: 8px;
	background-color: deepskyblue;
}


.algorithms-button {
	padding: 18px 28px;
    font-size: 20px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
			border-radius: 8px;
	background-color: greenyellow;
}

.algorithms-menu {
	padding: 20px 20px;
    font-size: 20px; 
	line-height: normal;
}

.maze-button {
	padding: 18px 28px;
    font-size: 20px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
			border-radius: 8px;
	background-color: rgb(145, 6, 126);
}

.maze-menu {
	padding: 20px 20px;
    font-size: 20px; 
	line-height: normal;
}
