.pathfinder {
	background-color: blanchedalmond;
	height: 100vh;
}

.row{
	margin: auto;
	display: flex;
	border-left: 1px solid white;
	/* flex-direction: column; */
	/* min-height: 18px; */
	flex: 1;
}



.container {
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	background-color: blanchedalmond;
}


.btn-xlarge {
	padding: 18px 28px;
    font-size: 20px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
			border-radius: 8px;
	background-color: deepskyblue;
}

#reset-button {
	border: black;
}

.algorithms-button {
	padding: 18px 28px;
    font-size: 20px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
			border-radius: 8px;
	background-color: greenyellow;
	border: black;
}

.algorithms-menu {
	padding: 20px 20px;
    font-size: 20px; 
	line-height: normal;
}

.maze-button {
	padding: 18px 28px;
    font-size: 20px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
			border-radius: 8px;
	background-color: rgb(145, 6, 126);
	border: black;
}

.maze-menu {
	padding: 20px 20px;
    font-size: 20px; 
	line-height: normal;
}
