.cell {
	width: 15px;
	height: 15px;
	outline: 1px solid rgb(28, 43, 43);
	/* outline-width: .53mm; */
	display: inline-block;
	background-color: white;
}

.cell-finish {
	background-color: tomato;
}

.cell-start {
	background-color: blue;
}

.cell-visited {
	/* background-color: yellow; */
	animation-name: visitedAnimation;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes visitedAnimation {
	from {
	  transform: scale(0.3);
	  background-color: rgba(0, 0, 66, 0.75);
	  border-radius: 100%;
	}
  
	50% {
	  background-color: rgba(235, 202, 111, 0.75);
	}
  
	75% {
	  transform: scale(1.2);
	  background-color: rgba(230, 219, 65, 0.75);
	}
  
	to {
	  transform: scale(1);
	  background-color: rgb(207, 194, 8);
	}
  }

.cell-backtrack {
	/* background-color: green; */
	animation-name: shortestPath;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
}

@keyframes shortestPath {

	
	from {
	  transform: scale(0.6);
	  background-color:  rgb(145, 180, 136);
	}
  
	50% {
	  transform: scale(1.2);
	  background-color:  rgb(101, 180, 81);
	}
  
	to {
	  transform: scale(1);
	  background-color: rgb(43, 180, 8);
	}
  }

.cell-wall {
	background-color: black;
}
